# üìä Sales Performance Insights Using SQL Window Functions


In this project, we explore **advanced SQL Window Functions** to analyze sales performance data.
We use SQLite (in-memory) and a mock dataset of employee sales to answer business questions such as:
- Rank of employees within their region
- Sales trends month-over-month
- Sales quartiles

In [ ]:

import pandas as pd
import sqlite3

# Load dataset
df = pd.read_csv("sales_data.csv")
df.head()

In [ ]:

# Create SQLite in-memory DB
conn = sqlite3.connect(':memory:')
df.to_sql('sales', conn, index=False, if_exists='replace')

### üßÆ ROW_NUMBER(): Assign row number within each employee's sales history

In [ ]:

query = '''
SELECT Employee, Region, Month, Sales,
       ROW_NUMBER() OVER (PARTITION BY Employee ORDER BY Month) AS row_num
FROM sales
'''
pd.read_sql_query(query, conn)

### ü•á RANK(): Rank employees by sales within their region

In [ ]:

query = '''
SELECT Employee, Region, Sales,
       RANK() OVER (PARTITION BY Region ORDER BY Sales DESC) AS region_rank
FROM sales
'''
pd.read_sql_query(query, conn)

### ‚èÆÔ∏è LAG(): Compare current month sales with previous month

In [ ]:

query = '''
SELECT Employee, Region, Month, Sales,
       LAG(Sales) OVER (PARTITION BY Employee ORDER BY Month) AS previous_sales
FROM sales
'''
pd.read_sql_query(query, conn)

### üìä NTILE(4): Divide employees into 4 performance groups based on sales

In [ ]:

query = '''
SELECT Employee, Sales,
       NTILE(4) OVER (ORDER BY Sales DESC) AS quartile
FROM sales
'''
pd.read_sql_query(query, conn)